/* line 226, icons/*.png */
.icons-sprite, .g-icon-temp, .g-icon-microbs, .g-icon-acid, .g-icon-electric, .g-icon-sound, .g-icon-water, .g-icon-corrosion, .g-icon-sun, .g-icon-eco, .g-icon-drops, .g-icon-paper, .logo, .phone__icon, .search__icon, .about__download-icon, .slider__bttn.active .slider__angle-t,
.slider__bttn.active .slider__angle-b, .slider__bttn_light.active .slider__angle-t, .slider__bttn_light.active .slider__angle-b, .side-reviews__next, .side-reviews__prev, .phone-old-icon, .popup__close, .popup__success-icon {
  background: url('../i/icons-sea6f855850.png') no-repeat;
}

/* line 8, ../scss/main.scss */
.icons-sprite, .g-icon-temp, .g-icon-microbs, .g-icon-acid, .g-icon-electric, .g-icon-sound, .g-icon-water, .g-icon-corrosion, .g-icon-sun, .g-icon-eco, .g-icon-drops, .g-icon-paper, .logo, .phone__icon, .search__icon, .about__download-icon, .slider__bttn.active .slider__angle-t,
.slider__bttn.active .slider__angle-b, .slider__bttn_light.active .slider__angle-t, .slider__bttn_light.active .slider__angle-b, .side-reviews__next, .side-reviews__prev, .phone-old-icon, .popup__close, .popup__success-icon {
  display: inline-block;
}

@font-face {
  font-family: 'yeseva_oneregular';
  src: url("../fonts/yesevaone-regular-webfont.eot");
  src: url("../fonts/yesevaone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yesevaone-regular-webfont.woff") format("woff"), url("../fonts/yesevaone-regular-webfont.ttf") format("truetype"), url("../fonts/yesevaone-regular-webfont.svg#yeseva_oneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* SELECTION */
/* line 42, ../scss/_mixins.scss */
::-moz-selection {
  background: #1a8a09;
  color: white;
  text-shadow: none;
}

/* line 47, ../scss/_mixins.scss */
::selection {
  background: #1a8a09;
  color: white;
  text-shadow: none;
}

/* PLACEHOLDER */
/* line 34, ../scss/_mixins.scss */
::-webkit-input-placeholder {
  color: #1a8a09;
}

/* line 35, ../scss/_mixins.scss */
:-moz-placeholder {
  color: #1a8a09;
}

/* line 36, ../scss/_mixins.scss */
:-ms-input-placeholder {
  color: #1a8a09;
}

/* line 37, ../scss/_mixins.scss */
.placeholder {
  color: #1a8a09 !important;
}

/* OTHER THINGS */
/* line 14, ../scss/_global.scss */
body {
  background: white;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  color: #007d00;
}

/* line 19, ../scss/_global.scss */
input, textarea, select {
  font-family: Arial, Helvetica, Garuda, sans-serif;
  color: #007d00;
}

/* line 23, ../scss/_global.scss */
a {
  color: #007d00;
  text-decoration: underline;
  -webkit-transition: color 50ms linear;
  -moz-transition: color 50ms linear;
  -o-transition: color 50ms linear;
  transition: color 50ms linear;
}
/* line 28, ../scss/_global.scss */
a:hover {
  color: #009700;
}

/* ICONS */
/* line 34, ../scss/_global.scss */
.g-icon-temp {
  background-position: 0 -273px;
  height: 24px;
  width: 29px;
}

/* line 37, ../scss/_global.scss */
.g-icon-microbs {
  background-position: 0 -200px;
  height: 27px;
  width: 28px;
}

/* line 40, ../scss/_global.scss */
.g-icon-acid {
  background-position: 0 -319px;
  height: 25px;
  width: 26px;
}

/* line 43, ../scss/_global.scss */
.g-icon-electric {
  background-position: 0 -383px;
  height: 27px;
  width: 12px;
}

/* line 46, ../scss/_global.scss */
.g-icon-sound {
  background-position: 0 -344px;
  height: 20px;
  width: 32px;
}

/* line 49, ../scss/_global.scss */
.g-icon-water {
  background-position: 0 -499px;
  height: 20px;
  width: 11px;
}

/* line 52, ../scss/_global.scss */
.g-icon-corrosion {
  background-position: 0 -448px;
  height: 17px;
  width: 26px;
}

/* line 55, ../scss/_global.scss */
.g-icon-sun {
  background-position: 0 -297px;
  height: 22px;
  width: 21px;
}

/* line 58, ../scss/_global.scss */
.g-icon-eco {
  background-position: 0 -410px;
  height: 18px;
  width: 20px;
}

/* line 61, ../scss/_global.scss */
.g-icon-drops {
  background-position: 0 -428px;
  height: 20px;
  width: 20px;
}

/* line 64, ../scss/_global.scss */
.g-icon-paper {
  background-position: 0 -548px;
  height: 18px;
  width: 13px;
}

/* SECTIONS */
/* line 69, ../scss/_global.scss */
.g-border-box {
  padding: 17px;
  border: 3px solid #007d00;
  background: #fff;
}

/* HEADERS */
/* line 76, ../scss/_global.scss */
.g-h1 {
  font: 38px/1 yeseva_oneregular;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 81, ../scss/_global.scss */
.g-h2 {
  font: 21px/1.2 yeseva_oneregular;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* line 86, ../scss/_global.scss */
.g-h2____news {
  margin-bottom: 35px;
}

/* line 90, ../scss/_global.scss */
.g-back {
  font-size: 16px;
  margin-bottom: 30px;
}

/* ALIGN */
/* line 96, ../scss/_global.scss */
.g-center {
  text-align: center;
}

/* line 1, ../scss/_forms.scss */
.form_text {
  overflow: hidden;
}
/* line 4, ../scss/_forms.scss */
.form_text input, .form_text textarea {
  float: left;
  width: 100%;
  background: none;
  border: 0;
}
/* line 10, ../scss/_forms.scss */
.form_text textarea {
  -webkit-resize: vertical;
  -moz-resize: vertical;
  resize: vertical;
}
/* line 14, ../scss/_forms.scss */
.form_text.skin_1 {
  padding: 4px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #118001;
}
/* line 19, ../scss/_forms.scss */
.form_text.skin_1 input, .form_text.skin_1 textarea {
  font-size: 13px;
}
/* line 22, ../scss/_forms.scss */
.form_text.skin_1 input {
  height: 15px;
  line-height: 15px;
}
/* line 28, ../scss/_forms.scss */
.form_text.skin_2 {
  padding: 7px 10px;
  border: 1px solid #1a8a09;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 33, ../scss/_forms.scss */
.form_text.skin_2.invalid {
  border-color: #f00;
}
/* line 37, ../scss/_forms.scss */
.form_text.skin_2 input, .form_text.skin_2 textarea {
  font-size: 15px;
}
/* line 40, ../scss/_forms.scss */
.form_text.skin_2 input {
  height: 17px;
  line-height: 17px;
}

/* line 46, ../scss/_forms.scss */
.form_bttn {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 80ms linear;
  -moz-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  transition: all 80ms linear;
}
/* line 54, ../scss/_forms.scss */
.form_bttn input {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  border: 0;
}
/* line 63, ../scss/_forms.scss */
.form_bttn.skin_1 {
  background: #118001;
  height: 25px;
  font: 13px/26px yeseva_oneregular;
  color: #fff;
  padding: 0 9px;
}
/* line 70, ../scss/_forms.scss */
.form_bttn.skin_1:hover {
  background: #149901;
  color: #fff;
}
/* line 76, ../scss/_forms.scss */
.form_bttn.skin_2 {
  background: #118001;
  height: 37px;
  font-size: 16px;
  line-height: 37px;
  color: #fff;
}
/* line 83, ../scss/_forms.scss */
.form_bttn.skin_2:hover {
  background: #138f01;
}

/* line 2, ../scss/_frames.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/_frames.scss */
body {
  min-width: 1000px;
  max-width: 3000px;
  margin: 0 auto;
}

/* line 11, ../scss/_frames.scss */
.wrapper {
  min-height: 100%;
  margin-bottom: -68px;
}

/* line 15, ../scss/_frames.scss */
.buffer {
  height: 128px;
}

/* line 18, ../scss/_frames.scss */
.center {
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 23, ../scss/_frames.scss */
.center-indent {
  padding: 0 20px;
}

/* line 26, ../scss/_frames.scss */
.center-indent____about {
  padding: 0;
}

/* line 29, ../scss/_frames.scss */
.sidebar {
  float: right;
  width: 27.45098%;
}

/* line 33, ../scss/_frames.scss */
.content {
  float: left;
  width: 69.60784%;
}

/* line 38, ../scss/_frames.scss */
.inner-side {
  float: right;
  width: 27.55102%;
}

/* line 42, ../scss/_frames.scss */
.inner-main {
  float: left;
  width: 69.38776%;
}

@media screen and (min-width: 1300px) {
  /* line 48, ../scss/_frames.scss */
  .center-indent____about {
    padding: 0 20px;
  }

  /* line 51, ../scss/_frames.scss */
  .sidebar {
    width: 260px;
  }

  /* line 54, ../scss/_frames.scss */
  .content {
    width: 75%;
  }
}
/* line 2, ../scss/_footer.scss */
.footer {
  background: #118001;
  height: 68px;
}

/* line 7, ../scss/_footer.scss */
.maker {
  float: right;
  padding-right: 110px;
  height: 23px;
  line-height: 16px;
  font-size: 11px;
  color: white !important;
  background: url(../i/maker.png) no-repeat 100% 0;
  margin-top: 27px;
}

/* line 18, ../scss/_footer.scss */
.footer-menu {
  padding-top: 20px;
}

/* line 21, ../scss/_footer.scss */
.footer-menu__item {
  padding: 9px 10px 8px 10px;
  float: left;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font: 12px/1 yeseva_oneregular;
  text-transform: uppercase;
}
/* line 30, ../scss/_footer.scss */
.footer-menu__item:hover {
  background: #59a64e;
  color: #fff;
}
/* line 34, ../scss/_footer.scss */
.footer-menu__item.active {
  background: #fff;
  color: #118001;
}

/* line 2, ../scss/_header.scss */
.logo {
  background-position: 0 0;
  height: 153px;
  width: 143px;
  float: left;
  margin: 10px 0 0 -10px;
}

/* line 7, ../scss/_header.scss */
.header-h1 {
  font: 19px/1.2 yeseva_oneregular;
  text-transform: uppercase;
  color: #118001;
  float: left;
  margin: 50px 0 0 30px;
}

/* line 15, ../scss/_header.scss */
.contacts {
  float: right;
  margin-top: 50px;
}

/* line 20, ../scss/_header.scss */
.phone {
  position: relative;
  font-size: 20px;
  color: #118001;
}

/* line 25, ../scss/_header.scss */
.phone__icon {
  position: absolute;
  background-position: 0 -465px;
  height: 16px;
  width: 12px;
  left: -20px;
  top: 3px;
}

/* line 32, ../scss/_header.scss */
.email {
  font-size: 16px;
  margin-top: 8px;
  color: #118001;
}

/* line 38, ../scss/_header.scss */
.order-call {
  margin-top: 12px;
}

/* line 42, ../scss/_header.scss */
.search {
  float: right;
  width: 135px;
  margin: 50px 55px 0 0;
  position: relative;
}

/* line 48, ../scss/_header.scss */
.search__bttn {
  position: absolute;
  padding: 7px 7px 4px 7px;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  background: none;
  overflow: visible;
}
/* line 58, ../scss/_header.scss */
.lt-ie8 .search__bttn {
  padding-top: 5px;
}

/* line 62, ../scss/_header.scss */
.search__icon {
  background-position: 0 -519px;
  height: 11px;
  width: 11px;
}

/* line 66, ../scss/_header.scss */
.menu {
  margin: 25px 0 45px 0;
  background: #038003;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22a11b), color-stop(50%, #1b9716), color-stop(50%, #0b8b08), color-stop(100%, #038003));
  background-image: -webkit-linear-gradient(#22a11b 0%, #1b9716 50%, #0b8b08 50%, #038003 100%);
  background-image: -moz-linear-gradient(#22a11b 0%, #1b9716 50%, #0b8b08 50%, #038003 100%);
  background-image: -o-linear-gradient(#22a11b 0%, #1b9716 50%, #0b8b08 50%, #038003 100%);
  background-image: linear-gradient(#22a11b 0%, #1b9716 50%, #0b8b08 50%, #038003 100%);
}

/* line 71, ../scss/_header.scss */
.menu__link {
  display: block;
  padding: 14px 13px;
  margin-right: -1px;
  color: #fff;
  text-decoration: none;
}

/* line 78, ../scss/_header.scss */
.menu__item {
  float: left;
  border-right: 1px solid #5bb44d;
  padding: 2px 0;
  position: relative;
}
/* line 84, ../scss/_header.scss */
.menu__item:first-child {
  border-left: 1px solid #5bb44d;
}
/* line 87, ../scss/_header.scss */
.menu__item:first-child .menu__link {
  margin-left: -1px;
}
/* line 91, ../scss/_header.scss */
.menu__item:hover .menu__link {
  background: #6cbe5f;
  color: #fff;
}
/* line 95, ../scss/_header.scss */
.menu__item.active .menu__link {
  background: #fff;
  color: #118001;
}

/* line 102, ../scss/_header.scss */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  display: none;
}

/* line 109, ../scss/_header.scss */
.submenu__box {
  background: #038003;
  z-index: 999;
}

/* line 113, ../scss/_header.scss */
.submenu__item {
  display: block;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  color: white !important;
}
/* line 121, ../scss/_header.scss */
.submenu__item:hover {
  background: #6cbe5f;
}

/* line 2, ../scss/_about.scss */
.factory-r {
  background: url(../i/factory-3.png) no-repeat 102% 100%;
}

/* line 5, ../scss/_about.scss */
.factory-l {
  background: url(../i/factory-1.png) no-repeat -2% 100%;
}

/* line 8, ../scss/_about.scss */
.factory-c {
  background: url(../i/factory-2.png) no-repeat 70% 100%;
  padding: 45px 0;
}

/* line 13, ../scss/_about.scss */
.line {
  height: 8px;
  font-size: 0;
  background: #007d00;
}

/* line 19, ../scss/_about.scss */
.about {
  margin-bottom: 40px;
}

/* line 22, ../scss/_about.scss */
.about__h1 {
  color: #007d00;
  font: 46px/1 yeseva_oneregular;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 29, ../scss/_about.scss */
.about__side {
  float: right;
  width: 27.45098%;
}

/* line 33, ../scss/_about.scss */
.about__main {
  float: left;
  width: 69.60784%;
  position: relative;
}

/* line 39, ../scss/_about.scss */
.about__h2 {
  margin: -5px 0;
  font: 20px/1.4 yeseva_oneregular;
}

/* line 43, ../scss/_about.scss */
.about__desc {
  margin: 30px 0;
  font-size: 16px;
  line-height: 1.2;
}

/* line 48, ../scss/_about.scss */
.about__desc-logo {
  float: left;
  margin: 0 15px 5px -5px;
  width: 60px;
}

/* line 53, ../scss/_about.scss */
.about__more {
  display: block;
  margin: 25px 14.28571%;
}

/* line 57, ../scss/_about.scss */
.about__download {
  text-align: center;
}

/* line 60, ../scss/_about.scss */
.about__download-text {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}

/* line 66, ../scss/_about.scss */
.about__download-icon {
  background-position: 0 -364px;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
}

@media screen and (min-width: 1300px) {
  /* line 73, ../scss/_about.scss */
  .about__main {
    width: 50%;
    margin-right: 2.77778%;
  }

  /* line 77, ../scss/_about.scss */
  .about__side {
    float: left;
    width: 22.22222%;
  }

  /* line 81, ../scss/_about.scss */
  .about__h1 {
    font-size: 52px;
  }
}
/* line 2, ../scss/_slider.scss */
.slider {
  margin-bottom: 25px;
}

/* line 5, ../scss/_slider.scss */
.slider__item {
  display: none;
  position: relative;
}
/* line 9, ../scss/_slider.scss */
.slider__item:first-child {
  display: block;
}

/* line 13, ../scss/_slider.scss */
.slider__image {
  max-width: 100%;
  display: block;
}

/* line 17, ../scss/_slider.scss */
.slider__copy {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
}

/* line 23, ../scss/_slider.scss */
.slider__crop {
  position: relative;
  overflow: hidden;
}
/* line 27, ../scss/_slider.scss */
.slider__crop img {
  display: block;
}

/* line 31, ../scss/_slider.scss */
.slider__visor {
  position: absolute;
  padding: 5px 7px 6px 7px;
  left: 100%;
  top: 0;
  background: #fff;
  color: #4b4b4b;
  font-size: 14px;
  display: none;
}

/* line 41, ../scss/_slider.scss */
.slider__ctrl {
  float: right;
  margin-top: 17px;
  max-width: 280px;
}

/* line 46, ../scss/_slider.scss */
.slider__ctrl__product {
  margin: 0 0 30px 0;
}

/* line 50, ../scss/_slider.scss */
.slider__bttn {
  float: right;
  padding: 0 9px;
  border: 3px solid transparent;
  margin-left: 4px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
/* line 61, ../scss/_slider.scss */
.slider__bttn .slider__bttn-text {
  border-bottom: 1px dashed #007d00;
}
/* line 65, ../scss/_slider.scss */
.slider__bttn.active {
  border-color: #007d00;
  background: #fff;
}
/* line 69, ../scss/_slider.scss */
.slider__bttn.active .slider__bttn-text {
  border-color: transparent;
}
/* line 73, ../scss/_slider.scss */
.slider__bttn.active .slider__angle-t,
.slider__bttn.active .slider__angle-b {
  position: absolute;
  left: -3px;
  background-position: 0 -566px;
  height: 9px;
  width: 9px;
}
/* line 78, ../scss/_slider.scss */
.slider__bttn.active .slider__angle-t {
  top: -9px;
}
/* line 81, ../scss/_slider.scss */
.slider__bttn.active .slider__angle-b {
  bottom: -9px;
  background-position: 0 -575px;
}

/* line 87, ../scss/_slider.scss */
.slider__bttn_light {
  color: white !important;
}
/* line 90, ../scss/_slider.scss */
.slider__bttn_light .slider__bttn-text {
  border-bottom-color: #fff;
}
/* line 94, ../scss/_slider.scss */
.slider__bttn_light.active {
  border-color: #fff;
  background: transparent;
}
/* line 98, ../scss/_slider.scss */
.slider__bttn_light.active .slider__angle-t {
  background-position: 0 -584px;
}
/* line 101, ../scss/_slider.scss */
.slider__bttn_light.active .slider__angle-b {
  background-position: 0 -593px;
}

/* line 107, ../scss/_slider.scss */
.slider__big {
  display: none !important;
}

@media screen and (min-width: 1300px) {
  /* line 112, ../scss/_slider.scss */
  .slider__big {
    display: block !important;
  }

  /* line 115, ../scss/_slider.scss */
  .slider__small {
    display: none !important;
  }

  /* line 118, ../scss/_slider.scss */
  .slider {
    margin-bottom: -10px;
  }
}
/* line 2, ../scss/_pluses.scss */
.pluses-wide {
  display: none;
}

/* line 5, ../scss/_pluses.scss */
.pluses {
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 10, ../scss/_pluses.scss */
.pluses-in {
  padding: 20px;
  border: 3px solid #007d00;
  background: #fff;
}

/* line 16, ../scss/_pluses.scss */
.pluses__col-1,
.pluses__col-2 {
  float: left;
}

/* line 19, ../scss/_pluses.scss */
.pluses__col-1 {
  width: 53%;
}

/* line 22, ../scss/_pluses.scss */
.pluses__col-2 {
  width: 47%;
}

/* line 25, ../scss/_pluses.scss */
.pluses__item {
  zoom: 1;
  margin: 0 20px 20px 0;
  font-size: 18px;
  line-height: 1.2;
}

/* line 31, ../scss/_pluses.scss */
.pluses__item__wide {
  margin: 0 0 10px 0;
  font-size: 16px;
}

/* line 35, ../scss/_pluses.scss */
.pluses__item__side {
  margin: 0 0 18px 0;
  font-size: 15px;
}

/* line 39, ../scss/_pluses.scss */
.pluses__icon {
  float: left;
  margin-top: -3px;
  width: 32px;
  text-align: center;
}

/* line 45, ../scss/_pluses.scss */
.pluses__text {
  margin-left: 45px;
}

/* line 48, ../scss/_pluses.scss */
.pluses__more {
  float: right;
  margin-top: -20px;
  font-size: 16px;
}

/* line 53, ../scss/_pluses.scss */
.pluses__more__wide {
  float: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 1300px) {
  /* line 62, ../scss/_pluses.scss */
  .pluses,
  .pluses-buffer {
    display: none;
  }

  /* line 65, ../scss/_pluses.scss */
  .pluses-wide {
    display: block;
    float: right;
    width: 22.22222%;
  }
}
/* line 2, ../scss/_side-reviews.scss */
.side-reviews {
  text-align: center;
}

/* line 5, ../scss/_side-reviews.scss */
.side-reviews__intro {
  font: 15px/1 pf_beausans_prosemibold;
}

/* line 8, ../scss/_side-reviews.scss */
.side-reviews__footer {
  margin: 0 auto;
  width: 67.85714%;
  font-size: 14px;
  line-height: 1.2;
  display: none;
}

/* line 15, ../scss/_side-reviews.scss */
.side-reviews__link {
  text-decoration: none;
}

/* line 18, ../scss/_side-reviews.scss */
.side-reviews__img {
  display: block;
  max-width: 100%;
}

/* line 22, ../scss/_side-reviews.scss */
.side-reviews__body {
  margin: 25px auto 10px auto;
  width: 170px;
  position: relative;
}

/* line 28, ../scss/_side-reviews.scss */
.side-reviews__next,
.side-reviews__prev {
  position: absolute;
  width: 13px;
  height: 18px;
  cursor: pointer;
  top: 50%;
  margin-top: -9px;
  z-index: 999;
  display: none;
}

/* line 38, ../scss/_side-reviews.scss */
.side-reviews__next {
  background-position: 0 -481px;
  right: 0;
}

/* line 42, ../scss/_side-reviews.scss */
.side-reviews__prev {
  background-position: 0 -530px;
  left: 0;
}

/* line 46, ../scss/_side-reviews.scss */
.roundabout-holder {
  width: 150px;
  height: 170px;
  margin: 0 auto;
}

/* line 51, ../scss/_side-reviews.scss */
.roundabout-moveable-item {
  width: 120px;
  height: 170px;
}

/* line 2, ../scss/_article.scss */
.group {
  margin: 40px 0;
}

/* line 5, ../scss/_article.scss */
.group____after-table {
  margin-top: 48px;
}

/* line 8, ../scss/_article.scss */
.group-title {
  background: #319622;
  height: 2px;
  font-size: 0;
  margin-bottom: 25px;
  position: relative;
}

/* line 15, ../scss/_article.scss */
.group-title__text {
  position: absolute;
  padding-right: 10px;
  background: #fff;
  font-size: 17px;
  font-weight: bold;
  left: 0;
  top: -8px;
}

/* line 25, ../scss/_article.scss */
.list-ok li {
  margin-bottom: 20px;
  padding-left: 40px;
  background: url(../i/icon-bullet-ok.png) no-repeat;
}

/* line 30, ../scss/_article.scss */
.list-line li {
  margin-bottom: 20px;
  padding-left: 30px;
  background: url(../i/icon-bullet-line.png) no-repeat 5px 8px;
}

/* line 35, ../scss/_article.scss */
.article {
  font-size: 15px;
  line-height: 1.2;
}
/* line 39, ../scss/_article.scss */
.article p {
  margin-bottom: 20px;
}
/* line 43, ../scss/_article.scss */
.article h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* line 50, ../scss/_article.scss */
.article .align-l {
  float: left;
  margin: 0 25px 25px 0;
}
/* line 54, ../scss/_article.scss */
.article .align-r {
  float: right;
  margin: 0 0 25px 25px;
}
/* line 61, ../scss/_article.scss */
.article.has-icons ul, .article.has-icons p {
  margin-left: 100px;
}
/* line 65, ../scss/_article.scss */
.article.has-icons .exception {
  margin-left: 0;
}
/* line 69, ../scss/_article.scss */
.article.has-icons .icon {
  width: 100px;
  text-align: center;
  float: left;
}
/* line 74, ../scss/_article.scss */
.article.has-icons .icon img {
  max-width: 60%;
}

/* line 81, ../scss/_article.scss */
.article____contacts {
  font-size: 16px;
}

/* line 84, ../scss/_article.scss */
.article____benefits {
  font-size: 17px;
}

/* line 87, ../scss/_article.scss */
.persp-techs {
  float: left;
  padding: 0 10px;
  height: 40px;
  margin: 5px 35px 15px 0;
  background: #118001;
  position: relative;
}
/* line 95, ../scss/_article.scss */
.persp-techs:before {
  content: "";
  height: 0;
  font-size: 0;
  position: absolute;
  border: 12px solid transparent;
  border-top: 40px solid #118001;
  top: 0;
  right: -12px;
}

/* line 106, ../scss/_article.scss */
.persp-techs__help {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

/* line 112, ../scss/_article.scss */
.persp-techs__text {
  display: inline-block;
  vertical-align: middle;
  font: 14px/1.2 yeseva_oneregular;
  text-transform: uppercase;
  color: #fff;
  padding-top: 2px;
}

/* line 121, ../scss/_article.scss */
.papers {
  margin-top: 40px;
}

/* line 124, ../scss/_article.scss */
.paper {
  margin-top: 40px;
}

/* line 127, ../scss/_article.scss */
.paper__image-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
}

/* line 133, ../scss/_article.scss */
.paper__image {
  max-width: 100%;
}

/* line 136, ../scss/_article.scss */
.paper__desc {
  margin-left: 130px;
  padding-right: 20px;
}

/* line 140, ../scss/_article.scss */
.paper__title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}

/* line 146, ../scss/_article.scss */
.paper__text {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 15px;
}

/* line 151, ../scss/_article.scss */
.paper__more {
  font-size: 14px;
}

@media screen and (min-width: 1300px) {
  /* line 157, ../scss/_article.scss */
  .article-box {
    float: left;
    width: 43%;
  }

  /* line 161, ../scss/_article.scss */
  .papers____main {
    float: right;
    width: 53%;
    margin: 0;
  }

  /* line 166, ../scss/_article.scss */
  .paper____main {
    margin-top: 30px;
    float: none;
    width: auto;
  }
  /* line 171, ../scss/_article.scss */
  .paper____main:first-child {
    margin: 0;
  }
}
/* line 2, ../scss/_table.scss */
.table {
  max-width: 800px;
  margin: 40px 30.61224% 40px 0;
}
/* line 6, ../scss/_table.scss */
.table table {
  width: 100%;
}
/* line 11, ../scss/_table.scss */
.table.middle td, .table.middle th {
  vertical-align: middle;
}
/* line 16, ../scss/_table.scss */
.table th, .table td {
  padding: 10px 15px;
  line-height: 1.2;
  border-top: 1px dashed #0d4304;
  border-left: 1px dashed #0d4304;
  color: #fff;
}
/* line 23, ../scss/_table.scss */
.table th:first-child, .table td:first-child {
  border-left: 0;
}
/* line 27, ../scss/_table.scss */
.table th, .table .th {
  border-top: 0;
  font-size: 13px;
  background: #007d00;
  text-align: center;
}
/* line 33, ../scss/_table.scss */
.table td {
  font-size: 15px;
  background: #4ca43f;
}
/* line 38, ../scss/_table.scss */
.table .w100 {
  width: 100px;
}

/* line 43, ../scss/_table.scss */
.table-caption {
  text-align: left;
  padding-bottom: 25px;
}

/* line 47, ../scss/_table.scss */
.table-title {
  margin-bottom: 10px;
}

/* line 50, ../scss/_table.scss */
.table-num {
  font-size: 13px;
}

/* line 3, ../scss/_reviews.scss */
.reviews__item {
  float: left;
  width: 24.25%;
  margin: 0 1% 1% 0;
}

/* line 8, ../scss/_reviews.scss */
.reviews__item__last {
  margin-right: 0;
}

/* line 11, ../scss/_reviews.scss */
.reviews__border {
  border: 3px solid #007d00;
  padding: 17px;
  height: 270px;
  text-align: center;
  position: relative;
  background: #fff;
}

/* line 19, ../scss/_reviews.scss */
.reviews__image-box {
  height: 200px;
}

/* line 22, ../scss/_reviews.scss */
.reviews__image {
  max-height: 100%;
  max-width: 100%;
}

/* line 26, ../scss/_reviews.scss */
.reviews__image__h {
  margin-top: 20px;
}

/* line 29, ../scss/_reviews.scss */
.reviews__name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
}

/* line 2, ../scss/_contacts.scss */
.yandex-map {
  margin: 30px 0;
  overflow: hidden;
}

/* line 7, ../scss/_contacts.scss */
.pay-details {
  font-size: 13px;
  color: #007d00;
  margin: 20px 0 0 23px;
  position: relative;
}

/* line 13, ../scss/_contacts.scss */
.pay-details__icon {
  position: absolute;
  top: -2px;
  left: -23px;
}

/* line 18, ../scss/_contacts.scss */
.pay-details__link {
  font-size: 16px;
}

/* line 2, ../scss/_feedback.scss */
.feedback {
  padding: 23px 28px;
}

/* line 5, ../scss/_feedback.scss */
.feedback-title {
  margin: 0 -10px 30px -10px;
  zoom: 1;
  text-align: center;
}

/* line 10, ../scss/_feedback.scss */
.feedback-field {
  margin-bottom: 13px;
}

/* line 13, ../scss/_feedback.scss */
.feedback-area {
  height: 100px;
}

/* line 16, ../scss/_feedback.scss */
.feedback-bttn {
  display: block;
  margin: 23px auto 0 auto;
  width: 66.99029%;
}

/* line 21, ../scss/_feedback.scss */
.feedback-comment {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.2;
}

/* line 2, ../scss/_docs.scss */
.docs {
  margin-top: 35px;
}

/* line 5, ../scss/_docs.scss */
.docs____first {
  margin-top: 10px;
}

/* line 8, ../scss/_docs.scss */
.docs-item {
  position: relative;
  margin: 20px 0 0 25px;
  font-size: 13px;
  color: #868686;
}

/* line 14, ../scss/_docs.scss */
.docs-item__link {
  font-size: 15px;
}

/* line 17, ../scss/_docs.scss */
.docs-item__icon {
  position: absolute;
  top: -2px;
  left: -25px;
}

/* line 2, ../scss/_side-about.scss */
.side-about {
  padding: 23px 16px;
}

/* line 5, ../scss/_side-about.scss */
.side-about-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 23px 0 30px 0;
}

/* line 12, ../scss/_side-about.scss */
.side-about-header {
  height: 62px;
  position: relative;
}

/* line 16, ../scss/_side-about.scss */
.side-about-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -90px;
}

/* line 23, ../scss/_side-about.scss */
.backgroundsize
.side-about-arrow {
  margin: 0 -16px;
  height: 26px;
  background: url(../i/border-box-arrow.png) no-repeat 50% 100%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 2, ../scss/_newsfeed.scss */
.newsfeed {
  margin: 50px 0 20px 0;
}

/* line 6, ../scss/_newsfeed.scss */
.page-nav {
  margin-top: 50px;
}

/* line 9, ../scss/_newsfeed.scss */
.page-nav__digits {
  float: left;
  margin: 0 5px;
}

/* line 14, ../scss/_newsfeed.scss */
.page-nav__item,
.page-nav__active {
  float: left;
  padding: 6px 9px;
  font-size: 16px;
  border: 3px solid transparent;
}

/* line 20, ../scss/_newsfeed.scss */
.page-nav__item {
  text-decoration: none;
}

/* line 23, ../scss/_newsfeed.scss */
.page-nav__text {
  border-bottom: 1px dashed #a3d09d;
}

/* line 26, ../scss/_newsfeed.scss */
.page-nav__active {
  border-color: #007d00;
  color: #317d16;
}

/* line 2, ../scss/_product.scss */
.product {
  margin: 30px 0 50px 0;
  background: #178906;
  color: #fff;
}

/* line 7, ../scss/_product.scss */
.product__r {
  background: url(../i/factory-r.png) no-repeat 102% 100%;
}

/* line 10, ../scss/_product.scss */
.product__l {
  background: url(../i/factory-l.png) no-repeat -2% 100%;
}

/* line 13, ../scss/_product.scss */
.product__c {
  position: relative;
  zoom: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 19, ../scss/_product.scss */
.product__arrow {
  position: absolute;
  top: -26px;
  left: 90px;
  border: 13px solid transparent;
  border-bottom-color: #178906;
  height: 0;
  font-size: 0;
}

/* line 28, ../scss/_product.scss */
.product__mark {
  left: 300px;
  right: auto;
  top: -28px;
}

/* line 33, ../scss/_product.scss */
.product__title {
  margin-top: -5px;
  font: 48px/1 yeseva_oneregular;
  text-transform: uppercase;
  letter-spacing: -2px;
}

/* line 39, ../scss/_product.scss */
.product__desc {
  font-size: 17px;
  line-height: 1.2;
}

/* line 43, ../scss/_product.scss */
.product__slider {
  margin-bottom: -70px;
}

/* line 47, ../scss/_product.scss */
.product-aside {
  float: right;
  width: 27.55102%;
  margin-left: 3.06122%;
}

/* line 52, ../scss/_product.scss */
.product-contacts {
  margin-left: 175px;
}

/* line 55, ../scss/_product.scss */
.product-bttn {
  float: left;
  margin: 2px 0 0 25px;
  padding: 0 15px;
}

/* line 61, ../scss/_product.scss */
.side-video {
  margin: 30px 0;
}
/* line 64, ../scss/_product.scss */
.side-video img {
  width: 100%;
}

/* line 2, ../scss/_simple-box.scss */
.simple-box {
  margin-top: 30px;
  background: #178906;
  padding: 25px;
  color: #fff;
}

/* line 9, ../scss/_simple-box.scss */
.simple-box__text {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 25px;
}

/* line 15, ../scss/_simple-box.scss */
.phone-old-icon {
  background-position: 0 -227px;
  height: 23px;
  width: 28px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

/* line 2, ../scss/_popup.scss */
.popup {
  padding: 25px 30px;
  width: 230px;
  background: #fff;
  position: relative;
}

/* line 8, ../scss/_popup.scss */
.popup__close {
  background-position: 0 -250px;
  height: 23px;
  width: 23px;
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}

/* line 15, ../scss/_popup.scss */
.popup__title {
  margin-bottom: 20px;
  text-align: center;
}

/* line 19, ../scss/_popup.scss */
.popup__bttn {
  display: block;
  margin: 20px 0 3px 0;
}

/* line 23, ../scss/_popup.scss */
.popup__success {
  padding-left: 60px;
  margin: 0 -10px -5px 0;
  position: relative;
  font-size: 18px;
}

/* line 29, ../scss/_popup.scss */
.popup__success-icon {
  background-position: 0 -153px;
  height: 47px;
  width: 47px;
  position: absolute;
  left: 0;
  top: -4px;
}

/* line 35, ../scss/_popup.scss */
.popup-call-result {
  display: none;
}

/* line 2, ../scss/_dealers.scss */
.dealers {
  margin-top: 15px;
}

/* line 5, ../scss/_dealers.scss */
.dealers__items {
  border: 3px solid #1a8a09;
  border-right: 0;
  border-bottom: 0;
}

/* line 10, ../scss/_dealers.scss */
.dealers__title {
  font-family: yeseva_oneregular;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* line 16, ../scss/_dealers.scss */
.dealers-item {
  width: 33.33333333%;
  float: left;
  text-align: center;
}

/* line 21, ../scss/_dealers.scss */
.dealers-item__in {
  border: 3px solid #1a8a09;
  border-top: 0;
  border-left: 0;
  min-height: 210px;
  padding: 20px;
  position: relative;
  background: #fff;
}

/* line 30, ../scss/_dealers.scss */
.dealers-item__title {
  font-size: 15px;
  line-height: 1.2;
  min-height: 2.4em;
}

/* line 35, ../scss/_dealers.scss */
.dealers-item__logo {
  height: 60px;
  margin: 20px 0;
}
/* line 39, ../scss/_dealers.scss */
.dealers-item__logo img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 46, ../scss/_dealers.scss */
.dealers-item__text, .dealers-item__invite {
  font-size: 14px;
  line-height: 1.2;
}

/* line 50, ../scss/_dealers.scss */
.dealers-item__invite {
  margin: 40px auto 0 auto;
  width: 90px;
}

/* line 55, ../scss/_dealers.scss */
.dealers-item__bttn {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
}
