@import "vendor/reset.css";

input, textarea { margin: 0; padding: 0; }
textarea { overflow: auto; }
select { margin: 0; }
input, textarea, select {
	-webkit-appearance: none;
}
button { margin: 0; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }
address { font-style: normal; }
a:active, *:focus { outline: none; }
td { vertical-align: top; }
a * { cursor: pointer; }

h1, h2, h3, 
h4, h5, h6 { font-weight: normal; }

.clear { clear: both; }
.clear_line { clear: both; height: 0; font-size: 0; }
.overflow { overflow: hidden; position: relative; }
.hide { display: none; }
.fl_l { float: left; }
.fl_r { float: right; }


/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}