
.factory-r {
	background: url(../i/factory-3.png) no-repeat 102% 100%;
}
.factory-l {
	background: url(../i/factory-1.png) no-repeat -2% 100%;
}
.factory-c {
	background: url(../i/factory-2.png) no-repeat 70% 100%;
	padding: 45px 0;
}

.line {
	height: 8px;
	font-size: 0;
	background: $greenBorder;
}

.about {
	margin-bottom: 40px;
}
.about__h1 {
	color: #007d00;
	font: 46px/1 yeseva_oneregular;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.about__side {
	float: right;
	width: (280/1020)*100%;
}
.about__main {
	float: left;
	width: (710/1020)*100%;
	position: relative;
} 

.about__h2 {
	margin: -5px 0;
	font: 20px/1.4 yeseva_oneregular;
}
.about__desc {
	margin: 30px 0;
	font-size: 16px; 
	line-height: 1.2;  
}
.about__desc-logo {
	float: left;
	margin: 0 15px 5px -5px;
	width: 60px;
}
.about__more {
	display: block;
	margin: 25px (40/280)*100%;
}
.about__download {
	text-align: center;
}
.about__download-text {
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
}
.about__download-icon {
	@include icons-sprite(download);
	margin-right: 5px;
	vertical-align: middle;
}

@media screen and (min-width: 1300px) {
	.about__main {
		width: (720/1440)*100%;
		margin-right: (40/1440)*100%;
	}
	.about__side {
		float: left;
		width: (320/1440)*100%;
	}
	.about__h1 {
		font-size: 52px;
	}
}
