
.group {
	margin: 40px 0;
}
.group____after-table {
	margin-top: 48px;
}
.group-title {
	background: #319622;
	height: 2px;
	font-size: 0;
	margin-bottom: 25px;
	position: relative;
}
.group-title__text {
	position: absolute;
	padding-right: 10px;
	background: #fff;
	font-size: 17px;
	font-weight: bold;
	left: 0;
	top: -8px;
}

.list-ok li {
	margin-bottom: 20px;
	padding-left: 40px;
	background: url(../i/icon-bullet-ok.png) no-repeat;
}
.list-line li {
	margin-bottom: 20px;
	padding-left: 30px;
	background: url(../i/icon-bullet-line.png) no-repeat 5px 8px;
}
.article {
	font-size: 15px;
	line-height: 1.2;

	p {
		margin-bottom: 20px;
	}

	h1 {
		font-size: 22px;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	
	.align-l {
		float: left;
		margin: 0 25px 25px 0;
	}
	.align-r {
		float: right;
		margin: 0 0 25px 25px;
	}

	&.has-icons {

		ul, p {
			margin-left: 100px;
		}

		.exception {
			margin-left: 0;
		}

		.icon {
			width: 100px;
			text-align: center;
			float: left;

			img {
				max-width: 60%;
			}
		}
	}

}
.article____contacts {
	font-size: 16px;
}
.article____benefits {
	font-size: 17px;
}
.persp-techs {
	float: left;
	padding: 0 10px;
	height: 40px;
	margin: 5px 35px 15px 0;
	background: #118001;
	position: relative;

	&:before {
		content: "";
		height: 0;
		font-size: 0;
		position: absolute;
		border: 12px solid transparent;
		border-top: 40px solid #118001;
		top: 0;
		right: -12px;
	}
}
.persp-techs__help {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.persp-techs__text {
	display: inline-block;
	vertical-align: middle;
	font: 14px/1.2 yeseva_oneregular;
	text-transform: uppercase;
	color: #fff;
	padding-top: 2px;
}

.papers {
	margin-top: 40px;
}
.paper {
	margin-top: 40px;
}
.paper__image-box {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}
.paper__image {
	max-width: 100%;
}
.paper__desc {
	margin-left: 130px;
	padding-right: 20px;
}
.paper__title {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 15px;
}
.paper__text {
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 15px;
}
.paper__more {
	font-size: 14px;
}


@media screen and (min-width: 1300px) {
	.article-box {
		float: left;
		width: 43%;
	}
	.papers____main {
		float: right;
		width: 53%;
		margin: 0;
	}
	.paper____main {
		margin-top: 30px;
		float: none;
		width: auto;

		&:first-child {
			margin: 0;
		}
	}
}
