
.yandex-map {
	margin: 30px 0;
	overflow: hidden;
}

.pay-details {
	font-size: 13px;
	color: $linkColor;
	margin: 20px 0 0 23px;
	position: relative;
}
.pay-details__icon {
	position: absolute;
	top: -2px;
	left: -23px;
}
.pay-details__link {
	font-size: 16px;
}