
.dealers {
	margin-top: 15px;
}
.dealers__items {
	border: 3px solid #1a8a09;
	border-right: 0;
	border-bottom: 0;
}
.dealers__title {
	font-family: yeseva_oneregular;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.dealers-item {
	width: 33.33333333%;
	float: left;
	text-align: center;
}
.dealers-item__in {
	border: 3px solid #1a8a09;
	border-top: 0;
	border-left: 0;
	min-height: 210px;
	padding: 20px;
	position: relative;
	background: #fff;
}
.dealers-item__title {
	font-size: 15px;
	line-height: 1.2;
	min-height: 2.4em;
}
.dealers-item__logo {
	height: 60px;
	margin: 20px 0;

	img {
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}
.dealers-item__text {
	font-size: 14px;
	line-height: 1.2;
}
.dealers-item__invite {
	@extend .dealers-item__text;
	margin: 40px auto 0 auto;
	width: 90px;
}
.dealers-item__bttn {
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
}
