
.docs {
	margin-top: 35px;
}
.docs____first {
	margin-top: 10px;
}
.docs-item {
	position: relative;
	margin: 20px 0 0 25px;
	font-size: 13px;
	color: #868686;
}
.docs-item__link {
	font-size: 15px;
}
.docs-item__icon {
	position: absolute;
	top: -2px;
	left: -25px;
}