
.feedback {
	padding: 23px 28px;
}
.feedback-title {
	margin: 0 -10px 30px -10px;
	zoom: 1;
	text-align: center;
}
.feedback-field {
	margin-bottom: 13px;
}
.feedback-area {
	height: 100px;
}
.feedback-bttn {
	display: block;
	margin: 23px auto 0 auto;
	width: (138/206)*100%;
}
.feedback-comment {
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.2;
}