
@font-face {
    font-family: 'yeseva_oneregular';
    src: url('../fonts/yesevaone-regular-webfont.eot');
    src: url('../fonts/yesevaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yesevaone-regular-webfont.woff') format('woff'),
         url('../fonts/yesevaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/yesevaone-regular-webfont.svg#yeseva_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}