
.footer {
	background: #118001;
	height: 68px;	
}

.maker {
	float: right;
	padding-right: 110px;
	height: 23px;
	line-height: 16px;
	font-size: 11px;
	color: #fff !important;
	background: url(../i/maker.png) no-repeat 100% 0;
	margin-top: 27px;
}

.footer-menu {
	padding-top: 20px;
}
.footer-menu__item {
	padding: 9px 10px 8px 10px;
	float: left;
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
	font: 12px/1 yeseva_oneregular;
	text-transform: uppercase;
	
	&:hover {
		background: #59a64e;
		color: #fff;
	}
	&.active {
		background: #fff;
		color: #118001;
	}
	
}
