.form_text {
	overflow: hidden;

	input, textarea {
		float: left;
		width: 100%;
		background: none;
		border: 0;
	}
	textarea {
		@include resize(vertical);
	}

	&.skin_1 {
		padding: 4px 8px;
		@include border-radius(3px);
		border: 1px solid #118001;
		
		input, textarea {
			font-size: 13px;
		}
		input {
			height: 15px;
			line-height: 15px;
		}
	}

	&.skin_2 {
		padding: 7px 10px;
		border: 1px solid #1a8a09;
		@include border-radius(2px);

		&.invalid {
			border-color: #f00;
		}
		
		input, textarea {
			font-size: 15px;
		}
		input {
			height: 17px;
			line-height: 17px;
		}
	}
}
.form_bttn {
	display: inline-block;
	cursor: pointer;
	position: relative;
	text-align: center;
	text-decoration: none;
	@include transition(all 80ms linear);

	input {
		cursor: pointer;
		position: absolute;
		top: 0; right: 0;
		bottom: 0; left: 0;
		background: none;
		border: 0;
	}

	&.skin_1 {
		background: #118001;
		height: 25px;
		font: 13px/26px yeseva_oneregular; 
		color: #fff;
		padding: 0 9px;

		&:hover {
			background: lighten(#118001, 5%);
			color: #fff;
		}
	}

	&.skin_2 {
		background: #118001;
		height: 37px;
		font-size: 16px;
		line-height: 37px;
		color: #fff;
		
		&:hover {
			background: lighten(#118001, 3%);
		}
	}
}