
html, body {
	height: 100%;
}
body {
	min-width: 1000px;
	max-width: 3000px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -68px;
}
.buffer {
	height: 128px;
}
.center {
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto;
}
.center-indent {
	padding: 0 20px;
}
.center-indent____about {
	padding: 0;
}
.sidebar {
	float: right;
	width: (280/1020)*100%;
}
.content {
	float: left;
	width: (710/1020)*100%;
}

.inner-side {
	float: right;
	width: (270/980)*100%;
}
.inner-main {
	float: left;
	width: (680/980)*100%;
}

@media screen and (min-width: 1300px) {
	.center-indent____about {
		padding: 0 20px;
	}
	.sidebar {
		width: 260px;
	}
	.content {
		width: (1080/1440)*100%;
	}
}
