
/* SELECTION */
@include selection(#1a8a09, #fff);

/* PLACEHOLDER */
@include placeholder(#1a8a09);

/* OTHER THINGS */
$bgColor: #fff;
$linkColor: #007d00;
$textColor: #007d00;
$greenBorder: #007d00;

body {
	background: $bgColor;
	@include Arial;
	color: $textColor;
}
input, textarea, select {
	@include Arial;
	color: $textColor;
}
a { 
	color: $linkColor; 
	text-decoration: underline; 
	@include transition(color 50ms linear);

	&:hover {
		color: lighten($linkColor, 5%);
	}
}

/* ICONS */
.g-icon-temp {
	@include icons-sprite(temp);
}
.g-icon-microbs {
	@include icons-sprite(microbs);
}
.g-icon-acid {
	@include icons-sprite(acid);
}
.g-icon-electric {
	@include icons-sprite(electric);
}
.g-icon-sound {
	@include icons-sprite(sound);
}
.g-icon-water {
	@include icons-sprite(water);
}
.g-icon-corrosion {
	@include icons-sprite(corrosion);
}
.g-icon-sun {
	@include icons-sprite(sun);
}
.g-icon-eco {
	@include icons-sprite(eco);
}
.g-icon-drops {
	@include icons-sprite(drops);
}
.g-icon-paper {
	@include icons-sprite(paper);
}

/* SECTIONS */
.g-border-box {
	padding: 17px;
	border: 3px solid $greenBorder;
	background: #fff;
}

/* HEADERS */
.g-h1 {
	font: 38px/1 yeseva_oneregular;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.g-h2 {
	font: 21px/1.2 yeseva_oneregular;
	text-transform: uppercase;
	margin-bottom: 25px;
} 
.g-h2____news {
	margin-bottom: 35px;
}

.g-back {
	font-size: 16px;
	margin-bottom: 30px;
}

/* ALIGN */
.g-center {
	text-align: center;
}

