
.logo {
	@include icons-sprite(logo);
	float: left;
	margin: 10px 0 0 -10px;
}
.header-h1 {
	font:  19px/1.2 yeseva_oneregular;
	text-transform: uppercase;
	color: #118001;
	float: left;
	margin: 50px 0 0 30px;
}

.contacts {
	float: right;
	margin-top: 50px; 
}

.phone {
	position: relative; 
	font-size: 20px;
	color: #118001;
}
.phone__icon {
	position: absolute;
	@include icons-sprite(phone);
	left: -20px;
	top: 3px;
}

.email {
	font-size: 16px;
	margin-top: 8px;
	color: #118001;
}

.order-call {
	margin-top: 12px;
}

.search {
	float: right;
	width: 135px;
	margin: 50px 55px 0 0;
	position: relative;
}
.search__bttn {
	position: absolute;
	padding: 7px 7px 4px 7px;
	top: 0;
	right: 0;
	cursor: pointer;
	border: 0;
	background: none;
	overflow: visible;

	.lt-ie8 & {
		padding-top: 5px;
	}
}
.search__icon {
	@include icons-sprite(search);  
}

.menu {
	margin: 25px 0 45px 0;
	background: #038003;
	@include background-image(linear-gradient(#22a11b 0%, #1b9716 50%, #0b8b08 50%, #038003 100%));
}
.menu__link {
	display: block;
	padding: 14px 13px;
	margin-right: -1px;
	color: #fff;
	text-decoration: none;
}
.menu__item {
	float: left;
	border-right: 1px solid #5bb44d;
	padding: 2px 0;
	position: relative;

	&:first-child {
		border-left: 1px solid #5bb44d;

		.menu__link {
			margin-left: -1px;
		}
	}
	&:hover .menu__link {
		background: #6cbe5f;
		color: #fff;
	}
	&.active .menu__link {
		background: #fff;
		color: #118001;
	}
}


.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 5px;
	display: none;
}
.submenu__box {
	background: #038003;
	z-index: 999;
}
.submenu__item {
	display: block;
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	white-space: nowrap;
	color: #fff !important;

	&:hover {
		background: #6cbe5f;
	}
}

