
// FONTS
@mixin Arial { font-family: Arial, Helvetica, Garuda, sans-serif; }
@mixin ArialBlack { font-family: 'Arial Black', Gadget, sans-serif; }
@mixin Tahoma { font-family: Tahoma, Geneva, sans-serif; }
@mixin TimesNewRoman { font-family: "Times New Roman", Times, FreeSerif, serif; }
@mixin TrebuchetMS { font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif; }
@mixin Verdana { font-family: Verdana, Geneva, Kalimati, sans-serif; }
@mixin Georgia { font-family: Georgia,"Nimbus Roman No9 L",serif; }

// RESIZE
@mixin resize($direction) {
    -webkit-resize: $direction;
       -moz-resize: $direction;
            resize: $direction;
}

// GRADIENT
@mixin gradient-v($startColor, $endColor) {
    $experimental-support-for-svg: true;
    background: $startColor;
    @include background-image(linear-gradient($startColor, $endColor));
    @include filter-gradient($startColor, $endColor); 
}
@mixin gradient-h($startColor, $endColor) {
    $experimental-support-for-svg: true;
    background: $startColor;
    @include background-image(linear-gradient(left, $startColor, $endColor));
    @include filter-gradient($startColor, $endColor, horizontal); 
}

// PLACEHOLDER
@mixin placeholder($color) {
    ::-webkit-input-placeholder { color: $color; }
    :-moz-placeholder { color: $color; }
    :-ms-input-placeholder { color: $color; }
    .placeholder { color: $color !important; }
}

// SELECTION 
@mixin selection($bgColor, $textColor) {
    ::-moz-selection {
        background: $bgColor;
        color: $textColor;
        text-shadow: none;
    }
    ::selection {
        background: $bgColor;
        color: $textColor;
        text-shadow: none;
    }
}