
.newsfeed {
	margin: 50px 0 20px 0;
}

.page-nav {
	margin-top: 50px;
}
.page-nav__digits {
	float: left;
	margin: 0 5px;
}
.page-nav__item,
.page-nav__active {
	float: left;
	padding: 6px 9px;
	font-size: 16px;
	border: 3px solid transparent;
}
.page-nav__item {
	text-decoration: none;
}
.page-nav__text {
	border-bottom: 1px dashed #a3d09d;
}
.page-nav__active {
	border-color: $greenBorder;
	color: #317d16;
}


