
.pluses-wide {
	display: none;
}
.pluses {
	position: absolute;
	left: 0;
	width: 100%;
}
.pluses-in {
	padding: 20px;
	border: 3px solid $greenBorder;
	background: #fff;
}
.pluses__col-1,
.pluses__col-2 {
	float: left;
}
.pluses__col-1 {
	width: 53%;
}
.pluses__col-2 {
	width: 47%;
}
.pluses__item {
	zoom: 1;
	margin: 0 20px 20px 0;
	font-size: 18px;
	line-height: 1.2;
}
.pluses__item__wide {
	margin: 0 0 10px 0;
	font-size: 16px;
}
.pluses__item__side {
	margin: 0 0 18px 0;
	font-size: 15px;
}
.pluses__icon {
	float: left;
	margin-top: -3px;
	width: 32px;
	text-align: center;
}
.pluses__text {
	margin-left: 45px;
}
.pluses__more {
	float: right;
	margin-top: -20px;
	font-size: 16px;
}
.pluses__more__wide {
	float: none;
	display: inline-block;
	margin-top: 10px;
	font-size: 15px;
}

@media screen and (min-width: 1300px) {
	.pluses,
	.pluses-buffer {
		display: none;
	}
	.pluses-wide {
		display: block;
		float: right;
		width: (320/1440)*100%;
	}
}
