
.popup {
	padding: 25px 30px;
	width: 230px;
	background: #fff;
	position: relative;
}
.popup__close {
	@include icons-sprite(close);
	position: absolute;
	top: -25px;
	right: -25px;
	cursor: pointer;
}
.popup__title {
	margin-bottom: 20px;
	text-align: center;
}
.popup__bttn {
	display: block;
	margin: 20px 0 3px 0;
}
.popup__success {
	padding-left: 60px;
	margin: 0 -10px -5px 0;
	position: relative;
	font-size: 18px;
}
.popup__success-icon {
	@include icons-sprite(ok);
	position: absolute;
	left: 0;
	top: -4px;
}
.popup-call-result {
	display: none;
}