
.product {
	margin: 30px 0 50px 0;
	background: #178906;
	color: #fff;
}
.product__r {
	background: url(../i/factory-r.png) no-repeat 102% 100%;
}
.product__l {
	background: url(../i/factory-l.png) no-repeat -2% 100%;
}
.product__c {
	position: relative;
	zoom: 1;
	padding-top: 40px;
	padding-bottom: 40px;
}
.product__arrow {
	position: absolute;
	top: -26px;
	left: 90px; 
	border: 13px solid transparent;
	border-bottom-color: #178906;
	height: 0;
	font-size: 0;
}
.product__mark {
	left: 300px;
	right: auto;
	top: -28px;
}
.product__title {
	margin-top: -5px;
	font: 48px/1 yeseva_oneregular;
	text-transform: uppercase; 
	letter-spacing: -2px;
}
.product__desc {
	font-size: 17px;
	line-height: 1.2;
}
.product__slider {
	margin-bottom: -70px;
}

.product-aside {
	float: right;
	width: (270/980)*100%;
	margin-left: (30/980)*100%;
}
.product-contacts {
	margin-left: 175px;
}
.product-bttn {
	float: left;
	margin: 2px 0 0 25px;
	padding: 0 15px;
}

.side-video {
	margin: 30px 0;

	img {
		width: 100%;
	}
}
