

.reviews__item {
	float: left;
	width: 24.25%;
	margin: 0 1% 1% 0;
}
.reviews__item__last {
	margin-right: 0;
}
.reviews__border {
	border: 3px solid $greenBorder;
	padding: 17px;
	height: 270px;
	text-align: center;
	position: relative;
	background: #fff;
}
.reviews__image-box {
	height: 200px;
}
.reviews__image {
	max-height: 100%;
	max-width: 100%;
}
.reviews__image__h {
	margin-top: 20px;
}
.reviews__name {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
}
