
.side-reviews {
	text-align: center;	
}
.side-reviews__intro {
	font: 15px/1 pf_beausans_prosemibold;
}
.side-reviews__footer {
	margin: 0 auto;
	width: (190/280)*100%;
	font-size: 14px;
	line-height: 1.2;
	display: none;
}
.side-reviews__link {
	text-decoration: none;
}
.side-reviews__img {
	display: block;
	max-width: 100%;
}
.side-reviews__body {
	margin: 25px auto 10px auto;
	width: 170px;
	position: relative;
}
.side-reviews__next, 
.side-reviews__prev {
	position: absolute;
	width: 13px;
	height: 18px;
	cursor: pointer;
	top: 50%;
	margin-top: -9px;
	z-index: 999;
	display: none;
}
.side-reviews__next {
	@include icons-sprite(arrow-r, false);
	right: 0;
}
.side-reviews__prev {
	@include icons-sprite(arrow-l, false);
	left: 0;
}
.roundabout-holder {
	width: 150px;
	height: 170px;
	margin: 0 auto;
}
.roundabout-moveable-item {
	width: 120px;
	height: 170px;
}

