
.side-about {
	padding: 23px 16px;
}
.side-about-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin: 23px 0 30px 0;
}
.side-about-header {
	height: 62px;
	position: relative;
}
.side-about-logo {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -90px;
}
.backgroundsize 
.side-about-arrow {
	margin: 0 -16px;
	height: 26px;
	background: url(../i/border-box-arrow.png) no-repeat 50% 100%;
	@include background-size(100% auto);
}
