
.simple-box {
	margin-top: 30px;
	background: #178906;
	padding: 25px;
	color: #fff;
}

.simple-box__text {
	font-size: 15px;
	line-height: 1.2;
	margin-bottom: 25px; 
}

.phone-old-icon {
	@include icons-sprite(phone-old);
	vertical-align: middle;
	margin-right: 5px;
	position: relative; 
	top: -1px;
}