
.slider {
	margin-bottom: 25px;	
}
.slider__item {
	display: none;
	position: relative;

	&:first-child {
		display: block;
	}
}
.slider__image {
	max-width: 100%;
	display: block;
}
.slider__copy {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
}
.slider__crop {
	position: relative;
	overflow: hidden;

	img {
		display: block;
	}
}
.slider__visor {
	position: absolute;
	padding: 5px 7px 6px 7px;
	left: 100%; 
	top: 0;
	background: #fff;
	color: #4b4b4b;
	font-size: 14px;
	display: none;
}
.slider__ctrl {
	float: right;
	margin-top: 17px;
	max-width: 280px;
}
.slider__ctrl__product {
	margin: 0 0 30px 0;
}

.slider__bttn {
	float: right;
	padding: 0 9px;
	border: 3px solid transparent;
	margin-left: 4px;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	text-decoration: none;
	position: relative;

	.slider__bttn-text {
		border-bottom: 1px dashed $greenBorder;
	}

	&.active {
		border-color: $greenBorder;
		background: #fff;

		.slider__bttn-text {
			border-color: transparent;
		}
		.slider__angle-t,
		.slider__angle-b {
			position: absolute;
			left: -3px;
			@include icons-sprite(angle-t);
		}
		.slider__angle-t {
			top: -9px;
		}
		.slider__angle-b {
			bottom: -9px;
			@include icons-sprite(angle-b, false);
		}
	}
}
.slider__bttn_light {
	color: #fff !important;
	
	.slider__bttn-text {
		border-bottom-color: #fff;
	}

	&.active {
		border-color: #fff;
		background: transparent;

		.slider__angle-t {
			@include icons-sprite(angle-t-white, false);
		}
		.slider__angle-b {
			@include icons-sprite(angle-b-white, false); 
		}
	}
}

.slider__big {
	display: none !important;
}

@media screen and (min-width: 1300px) {
	.slider__big {
		display: block !important;
	}
	.slider__small {
		display: none !important;
	}
	.slider {
		margin-bottom: -10px;
	}
}
