
.table {
	max-width: 800px;
	margin: 40px (300/980)*100% 40px 0;

	table {
		width: 100%;
	}

	&.middle {
		td, th {
			vertical-align: middle;
		}
	}
	
	th, td {
		padding: 10px 15px;
		line-height: 1.2;
		border-top: 1px dashed #0d4304;
		border-left: 1px dashed #0d4304;
		color: #fff;

		&:first-child {
			border-left: 0;
		}
	}
	th, .th {
		border-top: 0;
		font-size: 13px;
		background: $greenBorder;
		text-align: center;
	}
	td {
		font-size: 15px;
		background: #4ca43f;
	}

	.w100 {
		width: 100px;
	}

}
.table-caption {
	text-align: left;
	padding-bottom: 25px;
}
.table-title {
	margin-bottom: 10px;
}
.table-num {
	font-size: 13px;
}

